@import "./bootstrap_overrides.less";

.content {
  margin-top: 50px;

  .post {
    margin-bottom: 50px;

    .title-bar {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      color:         #555;

      .post-title {
        > a {
          font-size:       38px;
          color:           #555;
        }
      }

      .post-date {
        padding-top: 28px;
        font-size:   13px;
      }
    }
  }
}
