@import '_settings'

normalize()
base()

body
    font-family raleway
    margin 0px
    font-size 20px

a
    text-decoration none
    color #333

.header
    height 30px
    border-bottom 1px solid #ccc
    width 100%
    position fixed
    top 0px
    background-color #fff
    opacity .9

.container
    width 800px
    margin 0px auto

.title
    float left
    width 300px
    font-size 24px

.links
    float right
    text-align right
    margin 0px
    width 300px
    padding-top 4px

.links a
    transition color 0.1s ease-in
    color #777

.links a:hover
    color #333

.links li
    padding 5px 5px
    font-size 20px
    display inline

.content
    margin-top 80px

.post
    margin-bottom 50px

.post a
    text-decoration underline

.title-bar
    margin-bottom 20px
    border-bottom 1px solid #ccc

.post-title a
    text-decoration none
    margin-bottom 5px
    font-size 38px
    color #555

.post-date
    padding-top 28px
    font-size 13px
    color #555
    float right

.post p
    line-height 125%

.post img
    max-width 800px

.post blockquote
    border-color rgba(0,0,0,0.15)
    padding 0 0 0 15px
    margin 0 0 18px
    border-left 5px solid #eee
    font-size 16px

.post pre
    padding 8.5px
    margin 0 0 9px
    font-size 13px
    line-height 18px
    background-color #f5f5f5
    border 1px solid rgba(0, 0, 0, 0.15)
    border-radius 4px
    white-space pre-wrap
    word-break break-all
    word-wrap break-word

.post pre code
    padding 0
    background-color transparent
    color inherit
    padding 0 3px
    border none

.post code
    padding 2px 4px
    background-color #f5f5f5
    border 1px solid rgba(0, 0, 0, 0.15)
    font-size 13px

.paginate
    margin-bottom 20px
    font-size 14px

.newer
    text-align right
    float right
    margin-bottom 20px