.header
  .container
    section.title
      a(href='/').
        <strong>Todd</strong>Bealmear
    ul.links
      li: a.ss-icon.ss-social-circle(href=github_url) octocat
      li: a.ss-icon.ss-social-circle(href=twitter_url) twitter
      li: a.ss-icon.ss-social-circle(href=gplus_url) googleplus
