.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container

    .navbar-header
      a.navbar-brand(href='/').
        <strong>Todd</strong>Bealmear

    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right.links
        li: a.ss-icon.ss-social-circle(href='https://github.com/todd') octocat
        li: a.ss-icon.ss-social-circle(href='https://twitter.com/ToddBealmear') twitter
