head
  title Todd Bealmear
  meta(charset='UTF-8')
  meta(content='The personal musings of Todd Bealmear', name='description')
  meta(content='Todd Bealmear', name='author')
  meta(content='3 days', name='revisit-after')

  // build:css /styles/main.css
  link(href='/styles/main.css', rel='stylesheet')
  link(href='/bower_components/pygments/css/default.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Raleway:600,400', rel='stylesheet')
  link(href='/vendor/css/webfonts/ss-social-circle.css', rel='stylesheet')
  // endbuild
